body {
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 15px;
  margin-top: 60px;
}

input, select, button {
  padding: 12px;
  margin: 10px;
  width: 90%;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button {
  background: #00c6ff;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #0072ff;
}

.hidden {
  display: none;
}

.options button {
  width: 100%;
}

.nav button {
  width: 30%;
}
